* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background-color: #ffffff;
  }
  
  .container {
    margin: 1rem;
    text-align: center;
  }
  .nav {
    background-color: #5ab4a1;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
  }
  
  .text-container {
    font-size: 40px;
    text-align: center;
    font-family: Roboto;
    color: #370152;
    margin-top: 50px;
  }

  h1 {
    font-size: 40px;
    text-align: center;
    font-family: Roboto;
    color: #370152;
    margin-top: 50px;
  }

  h3 {
    font-size: 25px;
    text-align: center;
    font-family: Roboto;
    color: #370152;
    margin-top: 50px;
  }

  h4 {
    font-size: 20px;
    text-align: center;
    font-family: Roboto;
    color: #370152;
  }

  .site-title {
    font-size: 2rem;
    text-align: center;
    font-family: Roboto;
  }
  
  .nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
    text-align: center;
    font-size: 30px;
    font-family: Roboto;
  }
  
  .nav li.active {
    background-color: #20705f;
    text-align: center;
    font-size: 30px;
    font-family: Roboto;
  }
  
  .nav li:hover {
    background-color: #0c4d3e;
    text-align: center;
    font-size: 30px;
    font-family: Roboto;
  }

  .slide-container {
    width: 70%;
    margin: 0 auto;
  }

  .each-slide-effect > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 500px;
    width: 100%;
  }
  
  .each-slide-effect span {
    padding: 20px;
    font-size: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    color: #370152;
    font-size: 30px;
    font-family: Roboto;
    font-weight: bold;
  }

  .table-container {
    width: 60%;
    margin: 50px auto 0;
  }

  .td-button {
    padding: 50px; 
  }

  .image-button {
    width: 300px;
    height: 300px;
    background-image: url('./pages/img/pilt4.png');
    background-size: cover;
    border-radius: 50%;
    border: none;
    cursor: pointer;
  }

  .image-button2 {
    width: 300px;
    height: 300px;
    background-image: url('./pages/img/pilt5.png');
    background-size: cover;
    border-radius: 50%;
    border: none;
    cursor: pointer;
  }

  .image-button3 {
    width: 300px;
    height: 300px;
    background-image: url('./pages/img/pilt6.png');
    background-size: cover;
    border-radius: 50%;
    border: none;
    cursor: pointer;
  }

  .service-name {
    font-size: 30px;
    font-weight: bold;
    color: #370152;
  }

  .table-tooted {
    margin-top: 20px;
    font-weight: bold;
    color: #370152;
    font-size: 20px;
  }
  
  #Tooted {
    width: 100%;
    border-collapse: collapse;
  }
  
  #Tooted th,
  #Tooted td {
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  #Tooted th {
    background-color: #d6f3dd;
    color: #333;
  }
  
  #Tooted tbody tr:nth-child(even) {
    background-color: #f6e2ff9a;
  }
  
  #Tooted tbody tr:nth-child(odd) {
    background-color: #f6e2ff9a;
  }
  
  #Tooted tbody tr:hover {
    background-color: #d1b5dfbe;
  }  

  .reg-button {
    background-color: #588b64; 
    border: none; 
    font-weight: bold;
    color: white; 
    padding: 15px 30px; 
    text-align: center; 
    text-decoration: none;
    display: inline-block; 
    font-size: 16px; 
    cursor: pointer; 
    border-radius: 15px; 
    transition-duration: 0.4s; 
  }
  
  .reg-button:hover {
    background-color: #7cb389; 
    color: white; 
  }

  .table-meistrid {
    margin-top: 20px; 
    font-weight: bold; 
    color: #370152; 
    font-size: 20px;
  }
  
  #Meistrid {
    width: 100%; 
    border-collapse: collapse; 
  }
  
  #Meistrid th,
  #Meistrid td {
    border: 1px solid #ccc; 
    padding: 10px; 
  }
  
  #Meistrid th {
    background-color: #d6f3dd; 
    color: #333; 
  }
  
  #Meistrid tbody tr:nth-child(even) {
    background-color: #f6e2ff9a; 
  }
  
  #Meistrid tbody tr:nth-child(odd) {
    background-color: #f6e2ff9a; 
  }
  
  #Meistrid tbody tr:hover {
    background-color: #d1b5dfbe; 
  }

  #map {
    width: 400px; 
    height: 300px; 
  }
  form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
  }
  
  input, select {
    width: calc(100% - 22px); 
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  button {
    width: calc(100% - 22px);
    padding: 7px 10px;
    border: none;
    border-radius: 7px;
    border-color: #327554;;
    background-color: #63b68c;
    color: whitesmoke;
    font-size: 16px;
    cursor: pointer;
    margin: 10px auto 0; 
    display: block; 
    font-weight: bold;
  }
  
  button:hover {
    background-color: #447e61;
  }
  
  p {
    color: red;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 120%;
  }
  
  h2 {
    text-align: center;
  }

  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  option {
    font-size: 16px;
  }

  .footer {
    padding: 10px;
  }

  .footer p {
    color: #4d2363;
    white-space: nowrap;
    display: inline; 
    margin-right: 20px;
  }

  .adress{
      display: inline-block; 
      vertical-align: top;
      margin-right: 200px; 
  }

  .info {
    display: inline-block; 
    vertical-align: top; 
    margin-left: 100px; 
  }

  .lisateenusform {
    max-width: 500px; 
    margin: 0 auto; 
  }